@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.navbar li a.active {
  color: #fede2b;
}

@layer components {
  .container {
    @apply max-w-[1360px] w-full px-2 mx-auto;
  }
  .content {
    @apply max-w-[1280px] w-full px-2 mx-auto;
  }
}

.no-scroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 24px;
}
::-webkit-scrollbar-thumb {
  background: #777;
}
::-webkit-scrollbar-track {
  background: #bdbdbd;
}

.slider .swiper-button-next,
.slider .swiper-button-prev {
  top: auto !important;
  bottom: 40px;
  right: 40px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fede2b !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .swiper-button-prev::after,
.slider .swiper-button-next::after {
  color: #000;
  font-size: 18px;
}
.slider .swiper-button-prev {
  right: 90px;
  left: auto;
}
.testimonials .swiper-button-next,
.testimonials .swiper-button-prev {
  background-color: #000 !important;
  bottom: 0;
}
.testimonials .swiper-button-next::after,
.testimonials .swiper-button-prev::after {
  color: #fff;
}
