@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.navbar li a.active {
  color: #fede2b;
}

.sidebar li a.active {
  background: #f2f2f2;
}

.sidebar.active {
  background: #f2f2f2;
}
.mobile-navbar .home a svg {
  fill: #020105 !important;
}
.mobile-navbar .home a svg path {
  stroke: none;
  fill: #020105 !important;
}
.mobile-navbar li a svg path {
  stroke: #020105;
}
.mobile-navbar li a.active span {
  color: #020105;
}

@layer components {
  .container {
    @apply max-w-[1360px] w-full px-4 mx-auto;
  }
  .content {
    @apply max-w-[1280px] w-full px-3 mm:px-4 mx-auto;
  }
}

.no-scroll {
  overflow-y: hidden;
}

.scrollable::-webkit-scrollbar {
  height: 4px;
  width: 3px !important;
  border-radius: 24px !important;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #777 !important;
}

.scrollable::-webkit-scrollbar-track {
  background-color: #bdbdbd !important;
}

::-webkit-scrollbar {
  width: 6px !important;
  border-radius: 24px !important;
}
::-webkit-scrollbar-thumb {
  background: #777 !important;
}
::-webkit-scrollbar-track {
  background: #bdbdbd !important;
}

.ReactFlagsSelect-module_selectBtn__19wW7 {
  padding: 11px 20px 11px 38px !important;
  border-radius: 0.5rem !important;
}
.css-123m4i6-control {
  border-radius: 0.5rem !important;
}
.filterSelect .ReactFlagsSelect-module_selectBtn__19wW7,
.filterSelect .css-uyzb06-control {
  min-height: 52px;
  padding: 8px !important;
  background: rgb(242 242 242);
  border: none;
}
/* Hide input type number arrows: */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
/* Background gradients => Start */
.bg-sky {
  background: linear-gradient(180deg, #87e6e9 -52.61%, #35abaf 100%);
}
.bg-orange {
  background: linear-gradient(1deg, #df9600 0.83%, #f9c030 98.99%);
}
.bg-franchise {
  background: var(--GB-Frinachise, linear-gradient(1deg, #D660F2 0.83%, #F897C7 98.99%));
}
.bg-coin {
  background: var(--GB-Coin, linear-gradient(181deg, #7BD6FD -39.35%, #3793FE 99.93%));
}
.bg-alaket {
  background: var(--Alaket, linear-gradient(181deg, #FFB061 -12.43%, #FF6125 99.91%));
}
/* End */
@media screen and (max-width: 576px) {
  .ReactFlagsSelect-module_selectBtn__19wW7 {
    padding: 11px 20px 11px 8px !important;
  }
}

.slider .swiper-button-next,
.slider .swiper-button-prev {
  top: auto !important;
  bottom: 40px;
  right: 40px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #58ff90 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .swiper-button-prev::after,
.slider .swiper-button-next::after {
  color: #000;
  font-size: 18px;
}
.slider .swiper-button-prev {
  right: 90px;
  left: auto;
}
.testimonials .swiper-button-next,
.testimonials .swiper-button-prev {
  background-color: #000 !important;
  bottom: 0;
}
.testimonials .swiper-button-next::after,
.testimonials .swiper-button-prev::after {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .slider .swiper-button-next {
    right: 38%;
    bottom: 16px;
  }
  .slider .swiper-button-prev {
    right: auto;
    left: 38%;
    bottom: 16px;
  }
  .testimonials .slider .swiper-button-next {
    bottom: 0;
  }
  .testimonials .slider .swiper-button-prev {
    bottom: 0;
  }
}
